{:allow [;; borrowed from starter
         datomic.ion.starter/feature-item?
         ;; net-new fns        
         com.hlprmnky.ion-appsync.core/items-by-type-json
         com.hlprmnky.ion-appsync.core/items-by-type-gql]
 :lambdas {:items-by-type
           {:fn com.hlprmnky.ion-appsync.core/items-by-type-json
            :description "returns info in JSON about items with a particular type"}
           :items-by-type-gql
           {:fn com.hlprmnky.ion-appsync.core/items-by-type-gql
            :description "adapts AppSync query input shape for items-by-type"}}
 :app-name "datomic-cloud-appsync"}
